/* * {
  background: #1d1e20;
} */
html {
  background: #1d1e20;
}
.container {
  display: grid;
  grid-template-columns: 10% 90%;

  margin: 0 auto;
  border: 2px solid antiquewhite;
  height: 98vh;
  padding: 20px;
  box-sizing: border-box;
}

.ticket-profile-name {
  transform: translateX(5rem);
}

.col1 {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  /* border: 2px solid antiquewhite; */
  background: #1d1e20;
}

.col2 {
  display: grid;
  grid-template-rows: 5fr 1fr;
  /* border: 2px solid #d1cfe2; */
}

.row1,
.row2,
.row3,
.row4,
.row5,
.row6 {
  border: 2px solid antiquewhite;
  padding: 10px;
  box-sizing: border-box;
}

.row1 {
  background-color: lightblue;
  background: url("./assets/quote.png");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.row2 {
  background-color: lightgreen;
  background: url("./assets/globe2.png");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.row3 {
  background-color: lightyellow;
  background: url("./assets/dots.png");
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.row4 {
  background-color: lightpink;
  background: url("./assets/github.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.row5 {
  display: grid;
  background-color: #1d1e20;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.row6 {
  background-color: #1d1e20;
}

.portfolio-item.hidden {
  display: none;
}

/* .portfolio-item {
  transform: translateY(-10rem);
} */

/* github part  */

#github-info {
  display: flex;
  text-align: center;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

#github-info h2 {
  margin: 10px 0;
}

#github-info p {
  margin: 5px 0;
  color: antiquewhite;
  font-size: 2rem;
}

#github-info a {
  color: #56a8c6;
  text-decoration: none;
}

#github-info a:hover {
  text-decoration: underline;
}
